#inicio_sesion{
 background-image: url('../img/fds_bg.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-color: red;
 background-blend-mode:multiply;
 color: #fff;
}
#front_register{
 background-image: url('../img/fds_bg.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-color: red;
 background-blend-mode:multiply;
 color: #f4f4f4;
}
.color_white{
 color:#fff !important;
}
